{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "indent": [
      2, 2
    ],
    "quotes": [
      2, "single"
    ],
    "linebreak-style": [
      2, "unix"
    ],
    "semi": [
      1, "always"
    ]
  }
}
